xmltodict
six
crcmod
pycryptodome
certifi<=2021.10.8; python_version >= "2.7" and python_version < "3.6"
requests<=2.27.1,>=2.8; python_version >= "2.7" and python_version < "3.7"
requests>=2.8; python_version >= "3.7"